		body {
			margin: 0px;
			padding: 0px;
			font: 1em Arial;
			background-color: #192329;
			font-family: 'ABeeZee';
			font-size: 1em;
			z-index: 0;
		}

		h2 {
			color: #cecfd4;
			margin-left: 1em;
		}

		li {
			color: #cecfd4;
		}

		/* navigation block zona */
		header {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin: 0px auto;
			background-color: #fcdd31;
		}

		/* musu logotips un nosaukums */
		.ikon-tekst {
			display: flex;
			flex-direction: row;
			width: 10%;
			margin: 25px 20px 20px 20px;
			line-height: 30%;
		}

		.fa-solid {
			font-size: 64px;
			color: black;
		}

		.komp-text {
			margin: 20px 100px 10px 20px;
			font-size: 1.5em;
			font-weight: bold
		}

		.zibcol {
			color: #e30613;
		}

		/* navigacijas zona un navigacijas pogas */
		.navigacija {
			display: flex;
			flex-direction: row;
			margin-right: 50px;
		}

		/* pogas ipašibas */
		.knopka {
			margin: auto 10px auto 10px;
			/*border: 2px solid #101010;*/
			font-size: 22px;
			color: #fcdd31;
			background-color: rgb(25, 35, 41);
			font-weight: bold;
			width: 120px;
			text-align: center;
			padding: 10px;
			border-radius: 8px;
			transition: .3s;
		}

		.knopka:hover {
			background-color: rgb(25, 35, 41, .7);
			cursor: pointer;
		}

		a:link {
			text-decoration: none;
			color: #fcdd31;
		}

		a:visited {
			text-decoration: none;
			color: #fcdd31;
		}

		a:hover {
			text-decoration: none;
			color: #fcdd31;
		}

		a:active {
			text-decoration: none;
			color: #fcdd31;
		}

		/* .reklamas-zona {
			display: flex;
			width: 20%;
			margin-left: 3%;
			z-index: 1;
		} */

		/* .nastroika-reklami {
			display: flex;
			flex-direction: column;
			color: #fff;
			background-color: red;
			border-radius: 8px;
			z-index: 1;
		} */

		/* .reklama {
			display: flex;
			font-family: Arial;
			font-size: 2em;
			font-weight: bold;
			margin: 15% auto 15%;
			z-index: 1;
		} */

		footer {
			display: flex;
			flex-direction: row;
			position: absolute;
			background-color: #222e35;
			height: 35%;
			bottom: -35%;
			width: 100%;
			border-top: 4px solid #fcdd31;
		}

		.all-foot {
			display: flex;
			flex-direction: row;
			width: 100%;
			margin: auto 0;
		}

		.info {
			display: flex;
			flex-direction: column;
			width: 20%;
			margin: 0 2.5% 0 10%;
		}

		.info2 {
			display: flex;
			flex-direction: column;
			width: 20%;
			margin: 0 2.5% 0 2.5%;
		}

		.info3 {
			display: flex;
			flex-direction: column;
			width: 20%;
			margin: 0 2.5% 0 2.5%;
		}

		.info4 {
			display: flex;
			flex-direction: column;
			width: 20%;
			margin: 0 0 0 2.5%;
		}

		.lorem:link {
			color: #cecfd4;
		}

		.lorem:visited {
			color: #cecfd4;
		}

		.lorem:hover {
			color: #fcdd31;
		}

		.tabula_1 {
			display: block;
			width: 17%;
			margin-left: 40%;
			margin-top: 6%;
			height: 40%;
		}

		.tabula {
			font-size: 160%;
			text-align: left;
			background-color: #212d34;
			margin: 10px;
			border: 3px solid rgb(123, 123, 123);
			border-radius: 10px;
		}

		.tabula th {
			color: #fcdd31;
			border-bottom: 1px solid rgb(123, 123, 123);
			padding: 18px 13px;
		}

		.tabula td {
			color: #e30613;
			border-bottom: 1px solid rgb(123, 123, 123);
			border-right: 1px solid rgb(123, 123, 123);
			padding: 7px 17px;
		}

		.tabula tr:hover td {
			cursor: pointer;
			text-decoration: underline;
		}

		.tabula_2 {
			display: flex;
			display: block;
			margin: 7% 0 0 0;
		}
		.tabulass{
			display: flex;
			width: 100%;
			justify-content: space-between;
			margin: 0 -20%;
		}
		@media screen and (max-width: 1200px) { 
        body {font: .8em Arial;} 
        main{display: block;}
        header, main, footer, aside, article,  
        div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
        div.reklamas-zona, div.nastroika-reklami, div.reklama,
        div.tabula_1, div.tabula, div.tabula_2, div.tabulass,
        hr, h1, h2, h3, h4, h5, h6, li, td, tr, th,
        div.all-foot, div.info, div.info2, div.info3, div.info4 {
            width: 100%;
        }       
        @media screen and (max-width: 900px) { 
        body {font: .6em Arial;} 
        main{display: block;}
        header, main, footer, aside, article,  
        div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
        div.reklamas-zona, div.nastroika-reklami, div.reklama,
        div.tabula_1, div.tabula, div.tabula_2, div.tabulass,
        hr, h1, h2, h3, h4, h5, h6, li, td, tr, th,
        div.all-foot, div.info, div.info2, div.info3, div.info4 {
            width: 100%;
        }        
        @media screen and (max-width: 600px) { 
        body {font: .4em Arial;} 
        main{display: block;}
        header, main, footer, aside, article,  
        div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
        div.reklamas-zona, div.nastroika-reklami, div.reklama,
        div.tabula_1, div.tabula, div.tabula_2, div.tabulass,
        hr, h1, h2, h3, h4, h5, h6, li, td, tr, th,
        div.all-foot, div.info, div.info2, div.info3, div.info4 {
            width: 100%;
        }