body {
    background-color: #192329;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family:'ABeeZee';
    z-index: 0;
}
h2{
    color: #cecfd4; 
    margin-left: 1em;
    }
    li {
    color: #cecfd4;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px auto;
    background-color: #fcdd31;
}
/* musu logotips un nosaukums */
    .ikon-tekst{
    display: flex;
    flex-direction: row;
    width: 10%;
    margin: 25px 20px 20px 20px;
    line-height: 30%;
}

    .fa-solid{
    font-size: 64px;
    color: black;
}
    .komp-text{
    margin: 20px 100px 10px 20px;
    font-size: 1.5em;
    font-weight: bold
}
    .zibcol{
    color: #e30613;
}
/* navigacijas zona un navigacijas pogas */
    .navigacija{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
/* pogas ipaÅ¡ibas */
    .knopka{
    margin: auto 10px auto 10px;
/*border: 2px solid #101010;*/
    font-size: 22px;
    color:  #fcdd31;
    background-color: rgb(25,35,41);
    font-weight: bold;
    width: 120px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: .3s;
}
    .knopka:hover{
    background-color: rgb(25,35,41,.7);
    cursor: pointer;
}              
    a:link {               
            text-decoration: none;
            color:  #fcdd31;
        }
        a:visited {
            text-decoration: none;
            color:  #fcdd31;
        }
        a:hover {
            text-decoration: none;
            color:  #fcdd31;
        }
        a:active {
            text-decoration: none;
            color:  #fcdd31;
        }
 main{
    display: flex;
    width: 100%;
 }

aside {
    display: flex;
    position: absolute;
    width: 20%;
    height: 85.5%;
    background-color: #1e2930;
}
    .kolona{
        display: flex;
        flex-direction: column;
        margin-right: 15%;
        width: 93%;
        z-index: 2;
    }
    .nosaukums {
    display: flex;
    margin-left: 32.6em;
    width: 70%;
}
    .teksts {
    font-size: 2em;
    font-weight: bold;
    color:  #cecfd4;
}
/* informacija par mums un ko mes daram */
article {
    display: flex;
    position: absolute;
    width: 70%;
    margin-left: 26.5%;
}

    .block1 {
    display: flex;
    margin-right: 2em;
    width: 400px;
    height: 250px;
    border-radius: 1.2em;
    border: 0px solid #000000;
    background-color: #212d35;
    opacity: 0.4;
    box-shadow: -4px 4px 2px -2px rgba(0,0,0,0.4)
}

    .block1:hover {
    opacity: 1;
    background-color: #212d35;
    cursor: pointer;
    transition: .2s;
}

    .block2 {
    display: flex;
    width: 400px;
    height: 250px;
    border-radius: 1.2em;
    border: 0px solid #000000;
    background-color: #212d35;
    opacity: 0.4;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)
}

    .block2:hover {
    opacity: 1;
    background-color: #212d35;
    cursor: pointer;
    transition: .2s;
}

    .block3 {
    display: flex;
    margin-left: 2em;
    width: 400px;
    height: 250px;
    border-radius: 1.2em;
    border: 0px solid #000000;
    background-color: #212d35;
    opacity: 0.4;
    box-shadow: 4px 4px 2px -2px rgba(0,0,0,0.4)
}

    .block3:hover {
    opacity: 1;
    background-color: #212d35;
    cursor: pointer;
    transition: .2s;
}

    .colonna1 {
    display: flex;
    flex-direction: row;
}

    .block4 {
    display: flex;
    margin-bottom: 1.5em;
    margin-left: 3em;
    width: 450px;
    height: 250px;
    border-radius: 1.2em;
    border: 0px solid #000000;
    background-color: #212d35;
    opacity: 0.4;
    box-shadow: -4px -4px 2px -2px rgba(0,0,0,0.4)
}

    .block4:hover {
    opacity: 1;
    background-color: #212d35;
    cursor: pointer;
    transition: .2s;
}

    .block5 {
    display: flex;
    margin-bottom: 1.5em;
    margin-left: 13.2em;
    width: 450px;
    height: 250px;
    border-radius: 1.2em;
    border: 0px solid #000000;
    background-color: #212d35;
    opacity: 0.4;
    box-shadow: 4px -4px 2px -2px rgba(0,0,0,0.4)
}

    .block5:hover {
    opacity: 1;
    background-color: #212d35;
    cursor: pointer;
    transition: .2s;
}

    .colonna2 {
    display: flex;
    flex-direction: row;
}

    .lorem1 {
    display: flex;
    font-size: 15px;
    margin: 2.2em 2.2em 2.2em 2.2em;
    text-align: center;
    color:  #cecfd4;
    font-style: italic;
    
    }
    .reklamas-zona{
    display: flex;
    width: 20%;
    margin-left: 3%;
    margin: 0 0 0 3%;
    z-index: 1;
    }
    .nastroika-reklami{
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: red;
    border-radius: 8px;
    }
    .reklama{
    display: flex;
    font-family: Arial;
    font-size: 2em;
    font-weight: bold;
    margin: 15% auto 15% ;
    }
    footer {
        display: flex;
        flex-direction: row;
        position: absolute;
        background-color: #222e35;
        height: 35%;
        bottom: -35%;
        width:100%;
        border-top: 4px solid #fcdd31;
    }
    .all-foot{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto 0;
    }
    .info {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 2.5% 0 10%;
    }

    .info2 {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 2.5% 0 2.5%;
    }

    .info3 {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 2.5% 0 2.5%;
    }

    .info4 {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 0 0 2.5%;
    }

    .lorem:link {
        color: #cecfd4;
    }

    .lorem:visited {
        color: #cecfd4;
    }

    .lorem:hover {
        color: #fcdd31;
    }
@media screen and (max-width: 1200px) { 
body {font: .8em Arial;} 
main{display: block;}
header, main, footer, aside, article, 
div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
div.kolona, div.nosaukums, div.teksts, div.block1, div.block2, div.block3, div.block4, div.block5, div.colonna1, div.colonna2, div.lorem1,
div.reklamas-zona, div.nastroika-reklami, div.reklama,
hr, h1, h2, h3, h4, h5, h6, li, 
div.all-foot, div.info, div.info2, div.info3, div.info4  {
    width: 100%;
}
@media screen and (max-width: 900px) { 
body {font: .6em Arial;} 
main{display: block;}
header, main, footer, aside, article, 
div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
div.kolona, div.nosaukums, div.teksts, div.block1, div.block2, div.block3, div.block4, div.block5, div.colonna1, div.colonna2, div.lorem1,
div.reklamas-zona, div.nastroika-reklami, div.reklama,
hr, h1, h2, h3, h4, h5, h6,li,
div.all-foot, div.info, div.info2, div.info3, div.info4  {
    width: 100%;
}       
@media screen and (max-width: 600px) { 
body {font: .4em Arial;} 
main{display: block;}
header, main, footer, aside, article, 
div.ikon-tekst, div.fa-solid, div.komp-text, div.zibcol, div.navigacija, div.knopka,
div.kolona, div.nosaukums, div.teksts, div.block1, div.block2, div.block3, div.block4, div.block5, div.colonna1, div.colonna2, div.lorem1,
div.reklamas-zona, div.nastroika-reklami, div.reklama,
hr, h1, h2, h3, h4, h5, h6, li, 
div.all-foot, div.info, div.info2, div.info3, div.info4  {
    width: 100%;
}



